{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    
    <h1 class="font-allura">Bienvenue dans votre espace My Mom's Box</h1>
    
    <p class="font-helvetica-thin">Bonjour {{ app.user.firstname }}. C'est ici que vous allez pouvoir gérer les informations liées à votre compte. </p>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group font-helvetica-thin">
                {% if  is_granted('ROLE_ADMIN') %}
                <a href="/admin" class="list-group-item list-group-item-action" title="Accéder au back-office"><img src="{{ asset('assets/img/management.png') }}" alt="icone admin"> Accéder au back-office</a>
                {% endif %}
                <a href="{{ path('account_password') }}" class="list-group-item list-group-item-action" title="Modifier votre mot de passe"><img src="{{ asset('assets/img/password.png') }}" alt="icone modifier mot de passe"> Modifier mon mot de passe</a>
                <a href="{{ path('account_address') }}" class="list-group-item list-group-item-action" title="Gérer mes adresses"><img src="{{ asset('assets/img/address-book.png') }}" alt="icone adresses"> Gérer mes adresses de livraisons</a>
                <a href="{{ path('account_subscription') }}" class="list-group-item list-group-item-action" title="Voir mes abonnements"><img src="{{ asset('assets/img/subscription.png') }}" alt="icone abonnement"> Mon abonnement</a>
                <a href="{{ path('account_order') }}" class="list-group-item list-group-item-action" title="Voir mes commandes"><img src="{{ asset('assets/img/delivery-box.png') }}" alt="icone commande"> Mes commandes</a>
            </div>
        </div>
    </div>

    
{% endblock %}
