{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/style-delivery-subscribe.css') }}">
 {% endblock %}

{% block content %}
    <div class="container-fluid pt-5">

        <div class="row">
            <div class="col-sm-6 m-auto text-center">
                <h1 class="font-allura delivery-title">Mes adresses</h1>
                <p class="font-helvetica-thin delivery-subtitle">C'est dans cet espace que vous allez pouvoir
                    gérer vos adresses de livraisons. </p>
            </div>
        </div>

        <a href="{{ path('account') }}" class="hvr-icon-back"><i class="fa fa-chevron-circle-left hvr-icon"></i> Retour</a>

        {% if app.user.addresses|length == 0 %}
        <div class="row flex-column mt-5">

            <h1 class="font-allura big-title ml-5 mb-0">Où souhaitez-vous être livrée <code>?</code> </h1>
            <div class="col-8 m-auto">
                <img src="{{ asset('assets/img/livraison_camion_moms_box.png') }}" alt="livraison moms box" class="delivery-subscribe img-fluid">
            </div>
        </div>

        <div class="col-sm-5 mt-5 float-right">
            <p class="text-center lead">
                Vous n'avez pas encore ajouté d'adresses de livraisons.
                Merci d'en renseigner au moins une en cliquant  <a href="{{ path('account_address_add') }}" title="Ajouter une adresse" class="link-to-delivery">ici </a> </p>
        </div>

         {% else %}
        <div class="row mt-5 pb-5 ">
            {% for address in app.user.addresses %}
                <div class="col-md-3 m-auto">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title text-white">{{ address.name }}</h5>
                            <p class="card-text font-helvetica-thin text-white">
                                {{ address.address }}<br>
                                {{ address.zipCode }} - {{ address.city }} - {{ address.country }}
                            </p>
                            <div class=" d-flex">
                                <a href="{{ path('account_address_edit', {'id': address.id }) }}" class="btn" title="Modifier l'adresse">
                                    <span class="btn-content">Modifier</span>
                                    <span class="icon"><i class="far fa-edit" aria-hidden="true"></i></span>
                                </a>
                                <a href="{{ path('account_address_delete', {'id': address.id }) }}" class="btn btn-remove btn-alt-color" title="Supprimer l'adresse">
                                    <span class="btn-content">Supprimer</span>
                                    <span class="icon"><i class="fas fa-trash-alt" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}



        </div>

             <div class="d-flex justify-content-end">
                 <a href="{{ path('account_address_add') }}" class="raise add-button" title="Ajouter une adresse de livraison">
                     <img src="{{ asset('assets/img/add-location-point.png') }}" alt="icone add-addresse" class="raise">
                     Ajouter une adresse</a>
             </div>

    </div>

    {% endif %}



{% endblock %}


{% block script %}

{% endblock %}
