{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/style-delivery-subscribe.css') }}">
 {% endblock %}

{% block content %}
    <div class="container-fluid pt-5">

        <div class="row">

            <div class="col-sm-5 m-auto text-center">
                <h1 class="font-allura delivery-title">Mes adresses</h1>

                <p class="font-helvetica-thin">C'est dans cet espace que vous allez pouvoir
                    gérer vos adresses de livraisons. </p>
            </div>
        </div>





    <a href="{{ path('account') }}" class="hvr-icon-back"><i class="fa fa-chevron-circle-left hvr-icon"></i> Retour</a>

    {% if app.user.addresses|length == 0 %}

        <div class="row flex-column mt-5">
            <h1 class="font-allura big-title ml-5 mb-0">Où souhaitez-vous être livrée ?</h1>
            <div class="col-8 m-auto">
                <img src="{{ asset('assets/img/livraison_camion_moms_box.png') }}" alt="livraison moms box" class="delivery-subscribe img-fluid">
            </div>
        </div>
        <div class="col-sm-5 mt-5 float-right">
            <p class="text-center lead">
                Vous n'avez pas encore ajouté d'adresses de livraisons.
                Merci d'en renseigner au moins une en cliquant  <a href="{{ path('account_address_add') }}" title="Ajouter une adresse" class="link-to-delivery">ici </a> afin de poursuivre votre demande d'abonnement mensuel.</p>

        </div>

    {% else %}
        <div class="row">
            {% for address in app.user.addresses %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ address.name }}</h5>
                            <p class="card-text font-helvetica-thin">
                                {{ address.address }}<br>
                                {{ address.zipCode }} - {{ address.city }} - {{ address.country }}
                            </p>
                            <a href="{{ path('account_address_edit', {'id': address.id }) }}" title="Modifier l'adresse">Modifier</a> | <a href="{{ path('account_address_delete', {'id': address.id }) }}" title="Supprimer l'adresse">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="float-right">
            <a href="{{ path('account_address_add') }}" class="btn btn-outline-info float-right font-helvetica-thin" title="Ajouter une adresse de livraison">Ajouter une adresse</a>

        </div>
        </div>

    {% endif %}

{% endblock %}
