{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block content %}

    <a href="{{ path('account_address_add') }}" class="btn btn-outline-info float-right font-helvetica-thin" title="Ajouter une adresse de livraison">Ajouter une adresse</a>

    <h1 class="font-allura">Mes adresses</h1>

    <p class="font-helvetica-thin">C'est dans cet espace que vous allez pouvoir
        gérer vos adresses. </p>
    <a href="{{ path('account') }}" class="hvr-icon-back"><i class="fa fa-chevron-circle-left hvr-icon"></i> Retour</a>


    <hr>

    {% if app.user.addresses|length == 0 %}
        <p class="text-center">
        Vous n'avez pas encore ajouté d'adresses de livraisons.
        Veuillez <a href="" title="Ajouter une adresse"> cliquez-ici </a>pour en ajouter une.</p>
    {% else %}
        <div class="row">
            {% for address in app.user.addresses %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ address.name }}</h5>
                            <p class="card-text font-helvetica-thin">
                                {{ address.address }}<br>
                                {{ address.zipCode }} - {{ address.city }} - {{ address.country }}
                            </p>
                            <a href="{{ path('account_address_edit', {'id': address.id }) }}" title="Modifier l'adresse">Modifier</a> | <a href="{{ path('account_address_delete', {'id': address.id }) }}" title="Supprimer l'adresse">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    {% endif %}

{% endblock %}
