{% extends 'base.html.twig' %}

{% block title %}Connexion à mon compte{% endblock %}

{% block content %}
    <h1 class="mb-3 ml-3 font-weight-normal font-allura">Connectez-vous à votre espace My Mom's Box</h1>

    <div class="row">
        <div class="col-4">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes déjà connecté {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <div class="form-group text-center font-helvetica-thin">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control-sm" required autofocus>
                </div>
                <div class="form-group text-center font-helvetica-thin">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control-sm" required>
                </div>
                <div class="form-group text-center font-helvetica-thin">
                    <small><a href="{{ path('reset_password') }}">J'ai oublié mon mot de passe</a></small>
                </div>



                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <div class="form-group text-center">
                    <button class="btn btn-sm btn-outline-info" type="submit">
                        Je me connecte
                    </button>
                    <hr>
                    <small><p class="font-helvetica-thin mt-3">Pas encore de compte ?<br>
                        <a href="{{ path('app_register') }}">Je me créer un compte</a>
                    </p></small>
                </div>

            </form>
        </div>
        <div class="col-6 offset-2">
            <img src="{{ asset('assets/img/moms_box_open_fond_transparent.png') }}" alt="Mom's Box ouverte" class="img-login">
        </div>
        
    </div>

{% endblock %}
