{% extends 'base.html.twig' %}
{% block title %}L'alliée des mamans{% endblock %}
{#Déclaration du block carousel#}
{% block carousel %}{% endblock %}

{% block content %}

    <h1 class="font-allura h1-bestSale">Nos meilleures ventes</h1>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 m-auto gold-shadow">
            {% include 'product/single_product.html.twig' %}
        </div>
        {% endfor %}
    </div><!-- /.row -->
    
    <!-- START THE FEATURETTES -->


    <div class="bg-ruban"></div>

    <div class="col-md-8">
        <h1 class="font-helvetica-bold text-uppercase" style="font-size: 50px;">Recevez tous les mois une box surprise nécessaire au quotidien d'une maman </h1>
    </div>

    <div class="row featurette">

        <div class="col-md-7">
            <h2 class="featurette-heading pl-3">Des cosmétiques et produits pour votre bien-être  ! <span class="text-muted">100% Biologique !</span></h2>
            <p class="lead pl-3">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/picspree-1116994.jpg') }}" alt="Maquillage Bio Mom's Box" class="img-fluid">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Des produits pour l'entretient de votre foyer <span class="text-muted">100% Biologique !</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/pexels-karolina-grabowska-4210339.jpg') }}" alt="Produits d'entretient bio !" class="img-fluid">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading pl-3">Et plein d'autre surprises juste pour vous ! <span class="text-muted">Parce que votre bien-être nous importe !</span></h2>
            <p class="lead pl-3">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/picspree-1246813.jpg') }}" alt="Mom's Box l'alliée des mamans" class="img-fluid">
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

    <div class="row flex-column">
        <h1 class="font-helvetica-bold text-center mb-5 text-uppercase">La box du mois </h1>
        <div class="col-md-7 m-auto">
            <div class="card-effect">
                <div class="img"> <span></span></div>
                <div class="content">
                    <h2>My Mom's Box</h2>
                    <h2>Spécial mois de décembre</h2>
                    <div class="svg-wrapper">
                        <svg height="40" width="120" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="40" width="120" />
                            <div class="text-2"><a href="" title="En savoir plus">En savoir plus</a></div>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">

        <h1 class="font-allura h1-how">Comment ça marche ?</h1>
        <div class="col-md-7 offset-1">
            <p class="font-helvetica-bold text-uppercase" style="font-size: xx-large;"> Abonnez-vous dès maintenant et recevez  tous les mois  votre Mom's Box Suprise !</p>
            <p class="font-helvetica-thin lead p-how">Avec ses produits certifiés 100% d'origine Biologique et ses accessoires d'une valeur <span class="font-helvetica-bold">supérieur à 60€</span> , My Mom's Box vous gâtera d'attentions particulières.</p>
            <p class="font-helvetica-thin lead p-how">Retrouvez dedans des produits Bien-être et Cosmétiques 100% Bio, des produits d'Entretient pour votre foyer, un livret personnalisé à votre attention, et bien plus encore, pour seulement <span class="font-helvetica-bold">34,90€/mois !</span> </p>
            <div class="row mt-5 row-btn-custom-2">
                <a class="btn-custom-2" href="{{ path('show_subscriptions') }}">Voir nos abonnements</a>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('assets/img/moms_black_box_big.png') }}" alt="Moms box black" class="img-fluid img-box-black">
        </div>
    </div>

    <div class="bg-mombox mt-5"></div>

    <div class="row mt-5 ">
        <div class="col-md-6 offset-1 flex-column">
            <h1 class="font-allura">Vous avez des questions ?</h1>
            <p class="lead">N'hésitez pas à nous contacter via le formulaire de contacte</p>
            <div class="d-flex">
                <img src="{{ asset('assets/img/down-arrow.png') }}" alt="flèche du bas" class="anim-arrow m-auto">

            </div>
            {{ form(form) }}

        </div>
        <div class="col-md-4">
            <img src="{{ asset('assets/img/pexels-olya-kobruseva-5428833.jpg') }}" alt="image question" class="img-fluid">
        </div>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    </div>


{% endblock %}
