{% extends 'base.html.twig' %}

{% block title %}Confirmation de ma commande{% endblock %}

{% block content %}

    <h1 class="font-allura text-center">Votre commmande est confirmé</h1>

    <p class="font-helvetica-thin">Mr./Mme <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong> </p>

    <p class="font-helvetica-thin">My Mom's Box vous remercie de votre commande <strong> n° {{ order.reference }}</strong>.</p>
    <p class="font-helvetica-thin">Une confirmation vient de vous être envoyé par e-mail à l'adresse <strong>{{ order.user.email }}</strong> </p>
    <p class="font-helvetica-thin">Votre commande vous sera prochainement livrée à l'adresse suivante: <br> <strong>{{ order.delivery|raw }}</strong> </p>

    <hr>

    <p class="font-helvetica-thin">Rendez vous dans votre <a href="{{ path('account') }}">compte</a> pour suivre vos commandes.</p>
{% endblock %}
