{% extends 'base.html.twig' %}

{% block title %}Je m'abonne{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style-subscriptions.css') }}">
{% endblock %}

{% block content %}


    <h1 class="font-allura elegantshadow text-center">Je m'abonne à My Mom's Box</h1>

    <div class="bg-subscribes"></div>


    <h1 class="font-allura text-center mt-5">Embellissez votre quotidien pour seulement 35,90€/mois</h1>


    <div class="row mt-5">
        <div class="col-4 offset-1">
            <h3 class="font-helvetica-thin text-uppercase">profitez d'un contenu exclusif d'une valeur supérieur à 60€!</h3>
            <p class="font-helvetica-thin">Recevez tous les mois dans votre Mom's Box :
            <ul class="font-helvetica-thin ml-5">
                <li class="list-box">
                    <span class="hvr-icon-push"><i class="fas fa-gift hvr-icon"></i>
                        1 produit Santé & Bien-Être BIO
                    </span>
                </li>
                <li class="list-box">
                    <span class="hvr-icon-push"><i class="fas fa-gift hvr-icon"></i>
                        1 produit Cosmétique & Beauté BIO
                    </span>
                </li>
                <li class="list-box">
                    <span class="hvr-icon-push"><i class="fas fa-gift hvr-icon"></i>
                        1 produit d'Entretient du Foyer BIO
                    </span>
                </li>
                <li class="list-box">
                    <span class="hvr-icon-push"><i class="fas fa-gift hvr-icon"></i>
                        1 livret Astuce, conseils & descriptifs
                    </span>
                </li>
                <li class="list-box">
                    <span class="hvr-icon-push"><i class="fas fa-gift hvr-icon"></i>
                        La Surprise Mom's Box du mois
                    </span>
                </li>
            </ul>
            </p>
        </div>
        <div class="col-6">
            <img src="{{ asset('assets/img/box_surprise.png') }}" alt="Mom's Box Surprise" class="float-right img-fluid">
        </div>

    </div>

    <div class="row mt-5">
        <h2 class="font-helvetica-thin text-uppercase m-auto">Comment ça marche ?</h2>
    </div>

    <div class="row mt-5">
        <div class="col-sm-3 ml-3">
            <img src="{{ asset('assets/img/femme_assise_ordi_profil.png') }}" alt="" class="img-thumbnail gold-shadow gold-shadow">
            <p class="font-helvetica-thin text-center">Je m'inscris sur My Mom's Box.fr et choisis l'abonnement qui me correspond le mieux !</p>
        </div>
        <div class="col-sm-3 offset-1">
            <img src="{{ asset('assets/img/livraison_moms_box_parachute_porte.png') }}" alt="" class="img-thumbnail gold-shadow">
            <p class="text-center font-helvetica-thin">Je suis livrée rapidement à l'adresse de livraison indiquée, sans payer aucun frais de port !</p>
        </div>
        <div class="col-sm-3 offset-1">
            <img src="{{ asset('assets/img/moms_box_open_fond_transparent.png') }}" alt="" class="img-thumbnail gold-shadow">
            <p class="text-center font-helvetica-thin">Je n'attends plus pour profiter tous les mois de My Mom's Box !</p>
        </div>
    </div>

    <!--Partie carte abonnements-->
    <div class="row mt-5">
        <div class="col-sm-12"><h2 class="pricing-header text-center uppercase font-helvetica-thin">Choisissez l'abonnement qui vous correspond le plus !</h2></div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-2">
            <div class="card">
                <div class="card__side card__side--front-1">
                    <div class="card__title card__title--1">
                        <h4 class="card__heading">Abonnement {{monthlySubscribe.name}}</h4>
                    </div>
                    <div class="card__details font-helvetica-thin">
                            {{ monthlySubscribe.description|raw }}
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__cta">
                        <div class="card__price-box font-helvetica-thin">
                            <p class="card__price-only">Seulement</p>
                            <p class="card__price-value">{{ (monthlySubscribe.price / 100)|number_format(2) }} €/mois</p>
                        </div>
                    </div>
                    <div class="portfolio-experiment">
                        <a href="{{ path('monthly_subscribe') }}" class="">
                            <span class="a-text text-center">Je choisis cet abonnement</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card">
                <div class="card__side card__side--front-2">
                    <div class="card__title card__title--2">
                        <h4 class="card__heading">Abonnement {{ trimesterSubscribe.name }}</h4>
                    </div>
                    <div class="card__details font-helvetica-thin">
                        {{ trimesterSubscribe.description|raw }}
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-2">
                    <div class="card__cta">
                        <div class="card__price-box font-helvetica-thin">
                            <p class="card__price-only">Je paie tous les 3 mois, seulement</p>
                            <p class="card__price-value">{{ (trimesterSubscribe.price / 100)|number_format(2) }} €</p>
                        </div>
                    </div>
                    <div class="portfolio-experiment">
                        <a href="{{ path('trimester_subscribe') }}" class="">
                            <span class="a-text text-center">Je choisis cet abonnement</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card">
                <div class="card__side card__side--front-3">
                    <div class="card__title card__title--3">
                        <h4 class="card__heading">Abonnement {{ semesterSubscribe.name }}</h4>
                    </div>
                    <div class="card__details font-helvetica-thin">
                        {{ semesterSubscribe.description|raw }}
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-3">
                    <div class="card__cta">
                        <div class="card__price-box font-helvetica-thin">
                            <p class="card__price-only">Je paie seulement 2 fois/an !</p>
                            <p class="card__price-value">{{ (semesterSubscribe.price / 100)|number_format(2) }} €</p>
                        </div>
                    </div>
                    <div class="portfolio-experiment">
                        <a href="{{ path('semester_subscribe') }}" class="">
                            <span class="a-text text-center">Je choisis cet abonnement</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card">
                <div class="card__side card__side--front-4">
                    <div class="card__title card__title--4">
                        <h4 class="card__heading">Abonnement {{ yearSubscribe.name }}</h4>
                    </div>
                    <div class="card__details font-helvetica-thin">
                        {{ yearSubscribe.description|raw }}
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-4">
                    <div class="card__cta">
                        <div class="card__price-box font-helvetica-thin">
                            <p class="card__price-only">Je paie 1 fois, et j'en profite tous les mois !</p>
                            <p class="card__price-value">{{ (yearSubscribe.price / 100)|number_format(2) }} €</p>
                        </div>
                    </div>
                    <div class="portfolio-experiment">
                        <a href="{{ path('year_subscribe') }}" class="">
                            <span class="a-text text-center">Je choisis cet abonnement</span>
                            <span class="line -right"></span>
                            <span class="line -top"></span>
                            <span class="line -left"></span>
                            <span class="line -bottom"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">



    </script>

{% endblock %}